build/
sdkconfig
sdkconfig.old
managed_components/
dependencies.lock
.vscode/
.DS_Store

Thumbs.db
*.log
.svn/
tools/weather_icon_png_export/export_weather_icons.exe
tools/weather_icon_png_export/out/
